<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./shared/metadata') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('./shared/header') %>
    <main>
      <form class="form-control" action="/admin/product" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <button type="submit">Add</button>
      </form>
    </main>
  </body>
</html>
