<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./shared/metadata')%>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./shared/header') %>
    <main>
      <% if (prods.length > 0) { %>
      <h1>Products</h1>
      <ul>
        <% for (product of prods) { %>
        <li><%= product.title %></li>
        <% } %>
      </ul>
      <%} else {%>
      <h1>No products to show</h1>
      <% } %>
    </main>
  </body>
</html>
